extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-5xl.font-extrabold= pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Tu Nombre
                        input#nombre.w-full.px-3.py-3.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder = "Tu Nombre" type="text" name="nombre")

                    div
                        label.block.text-sm.uppercase.text-gray-500.my-3.font-bold(for="email") Tu Email
                        input#email.w-full.px-3.py-3.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder = "Tu Email" type="email" name="email")
                        
                    div
                        label.block.text-sm.uppercase.text-gray-500.my-3.font-bold(for="password") Password
                        input#password.w-full.px-3.py-3.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder = "Tu Contraseña" type="password" name="password")
                        
                    div
                        label.block.text-sm.uppercase.text-gray-500.my-3.font-bold(for="repetir_password") Repite tu Password
                        input#repetir_password.w-full.px-3.py-3.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder = "Tu Contraseña" type="password" name="repetir_password")
                        
                    div.flex.item-center.justify-between.my-3
                        a.text-gray-500.text-xs(href="/auth/login") ¿Tienes Cuenta? Inicia Sesión
                        a.text-gray-500.text-xs(href="/auth/olvide-password") Olvidé mi Password


                    input(class = "w-full my-3 bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")